
html, body{
	background-color: #069;
	 overflow: hidden;
}	
#logo {
	width: 400px;
	margin: 0 auto;
	margin-top: 200px;
	animation : ani1 700ms linear;
}
#logo img{
	display: block;
	width: 100%;
}
#login{
	box-sizing:border-box;
	padding-top: 10px;
	opacity: 1;
	width: 400px;
	margin: 0 auto;
	margin-top: 20px;
	border-radius: 10px;
	animation: ani2 1s linear;
	background-color: #fff;
}
#login form .forminp{
	height: 40px;
	line-height: 40px;
}
#login form div{
	margin-bottom: 10px;
}
#login form #errormsg{
	color: #f00;
	text-align: center;
	font-size: 0.9em;
	font-weight: 600;
	line-height: 30px;
}
#login form #forminfo{
	box-sizing:border-box;
	width: 95%;
	height: 40px;
	line-height: 40px;
	font-weight: bold;
	background-color: #ddd;
	border-radius: 10px;
	margin: 0 auto;
	padding-left: 15px;
	margin-bottom: 10px;
}
#login form .forminp label{
	display: inline-block;
	width: 30%;
	text-align: right;
	font-weight: bold;
}
#login form div input[type=text],
#login form div input[type=password]{
	margin-left: 30px;
	width: 200px;
	border: 0;
	border: 2px solid #555;
	background-color: transparent;
	text-align: center;
	padding: 10px;
	border-radius: 8px;
}
#login form div:last-child{
	text-align: center;
	padding-bottom: 10px;
}
#login form div input[type=submit]{
	width: 70px;
	height: 30px;
}
#login form div #pwSe{
	width: 87px;
	height: 30px;
}
#login form #saveid{
	text-align: center;
	margin-left:105px;
}
img#plain{
	width: 500px;
	position: absolute;
	z-index: 110;
	animation : flyplain 30s infinite;
	right:1500px;
	top: -300px;
}
@keyframes ani1 {
	0%{
		margin-top: 0;	
	}
	100%{			
		margin-top: 200px;	
					
	}
}

@keyframes ani2{
	0%{
		opacity: 0;
	}
	70%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

@keyframes flyplain{
	0%{
		right:-1000px;
		top: 700px;
	}
	70%{ 
		right:1500px;
		top: -300px;	
	}
}