
html, body{
	width: 100%;
	height: 100%;
	background-color: #ddd;
}
header{
	position: fixed;
	box-sizing: border-box;
	width: 100%;
	min-width: 1100px;
	height: 94px;
	padding-left: 10px;
	padding-top: 10px;
	background-color: #069;
	z-index: 9000;
}
header h1 img {
	height: 70px;
}
header h1 {
	float:left;		
}
header nav {
	margin-top: 54px;
	margin-left: 50px;
	float:left;	
	width: 70%;
}
header nav ul li{
	float:left;
	margin-left: 2px;
	width: 9%;
	min-width: 66px;
}
header nav ul li a {
	font-weight: 600;
	display: inline-block;
	width: 100%;
	height: 30px;
	line-height: 30px;
	background-color: #036;
	text-align: center;
	border-radius:10px 10px 0 0;
	color: #fff;
}
header nav ul li a.active{
	color: #036;
	background-color: #ddd;
	box-shadow:0px -2px 4px #fff;
	border-bottom: 1px solid transparent;
}
header nav ul li a:hover{
	background-color: #ddd;
	color: #036;
}

/* aside */
aside{
	position: fixed;
	width: 298px;
	height: calc(100vh - 94px);
	margin-top: 94px;
	background-color: #069;
	float:left;
	margin-right: 30px;
	z-index: 9000;
}
aside #loginfo{
	box-sizing: border-box;
	width: 90%;
	height:190px;
	border: 2px solid #fff;
	border-radius: 10px;
	margin: 0 auto;
	padding: 10px;
}
aside #loginfo #photo{
	width: 90px;
	height: 120px;
	border: 2px solid #fff;
	float:left;
}
aside #loginfo #photo img{
	width: 100%;
	height: 100%;
}
aside #loginfo #info{
	margin-left: 110px;
}
aside #loginfo #info ul li{
	line-height: 25px;
}
aside #loginfo #info .name, 
aside #loginfo #info a,
aside #loginfo #info i{
	color: #fff;
	font-size: 0.9em;
}
.red{
	color: #f60;
	font-weight: 600;
	font-size: 0.8em;
}
aside #loginfo #asidebtn ul li{
	border-top: 2px solid #fff;
	box-sizing:border-box;
	float:left;
	width: 50%;
	height: 40px;
}
aside #loginfo #asidebtn ul li a{
	display: block;
	color: #fff;
	font-weight: 600;
	text-align: center;
	width: 100%;
	height: 100%;
	line-height: 40px;
}
aside #loginfo #asidebtn ul li:first-child{
	border-right: 2px solid #fff;
}
/* aside #listbtn{
	position: fixed;
	width: 300px;
	background-color: transparent;
} */
aside #listbtn p {
	text-align: center;
	line-height: 50px;
	font-size: 25px;
	cursor: pointer;
}
aside #listbtn p i{
	color: #fff;
}
aside nav{
	margin-top: 15px;
}
aside nav li a{
	box-sizing:border-box;
	display: inline-block;
	z-index:50;
	width: 100%;
	height: 50px;
	line-height: 50px;
	padding-left: 25%;
}

aside nav li:hover{
	background-color: #036;
	box-shadow:1px 2px 5px #000;
}
aside nav li.active{
	background-color: #036;
	box-shadow:1px 2px 5px #000;
}
/*조직도 버튼*/
aside #organ{
	position: absolute;
	bottom: 0;
	box-sizing:border-box;
	width: 298px;
	height: 40px;
	padding-left: 15%;
	padding-right: 5%;
	line-height: 40px;
	cursor:pointer;
	background: #4c4c4c;
	background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
	background: -webkit-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
	background: linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 );
}
aside #organ #organtitle i{
	text-align: right;
	color: #fff;
}
aside #organ #organtitle span{
	display: inline-block;
	width: 80%;
	color: #fff;
}
/* 조직도 버튼 끝 */
aside nav li span,
aside nav li i{
	color: #fff;
	font-weight: 200;
}

/* section */
section{
	box-sizing:border-box;
	width: 100%;
	min-width: 1070px;
	height: calc(100vh - 144px);
	margin-bottom: 50px;
}
/* section bookmark */
section #bookmark{
	box-sizing:border-box;
	position: fixed;
	top:40%;
	right:10px;
	border: 2px solid #777;
	border-radius: 10px;
	width: 40px;
	min-height: 40px;
	padding:0;
	background-color: #fff;
	cursor:pointer;
	text-align: center;
	z-index: 9000;
}
section #bookmark ul li{
	line-height:30px;
}
section #bookmark ul li i{
	text-align: center;	
	line-height:40px;
}
section #bookmark ul li span{
	display: inline-block;
	width: 65%;
}
section #bookmarkbtn{
	line-height:40px;
}
section #bookmarkbtn i{
	line-height: 40px;
	font-size: 20px;
	color:#069;
}
section article{
	box-sizing:border-box;
	padding:10px;
	overflow-x: hidden;
}
section #headsection{
	position: fixed;
	width: 100%;
	margin:94px 40px 0 300px;	
	background-color: #ddd;
	z-index: 9000;
}
section #bodysection{
	position: relative;
	top: 163px;
	width: calc(100%-300px);
	margin:0 40px 20px 300px;	
}
section article h1{
	box-sizing: border-box;
	margin-top: 20px;
	margin-left: ;
	font-size: 25px;
	padding-left: 30px;
	background-color: #ddd;
}
section article h1 a i.nobook{
	margin-left: 50px;
	color: #fff;
	font-size: 20px;
	text-shadow: 0 0 5px #555;
}
section article h1 a i.bookmark{
	margin-left: 50px;
	color: #069;
	font-size: 20px;
	text-shadow: 0 0 5px transparent;
}
/* footer */
footer{
	position: fixed;
	background-color: #fff;
	bottom: 0;
	right:0;
	box-sizing: border-box;
	width: calc(100% - 298px);
	height: 20px;
	line-height: 20px;
	border-top: 1px solid #ccc;
	z-index: 800;
	font-size: 0.8em;
	overflow: hidden;
}
footer div{
	position: absolute;
	width: 100%;
}
footer div div{
	position: relative;
	top: 0px;
	text-align: center;
	height: 20px;
	width: 100%;
}

/* 	 */
@keyframes newsrolling{
	0%{top: 0px;}
	15%{top: 0px;}
	20%{top: -20px;}
	35%{top: -20px;}
	40%{top: -40px;}
	55%{top: -40px;}
	60%{top: -60px;}
	75%{top: -60px;}
	80%{top: -80px;}
	100%{top: -80px;}
}