@charset "UTF-8";
#search{
	width: 100%;
	max-width:1100px;
	margin: 0 auto;
	background-color: #eee;
	padding : 10px;
	padding-bottom:0;
	box-sizing:border-box;
	text-align: right;
}
#search input[type=text]{
	width:200px;
	height:27px;
	border:0;
	box-sizing:border-box;
	padding-left: 10px;
	border-radius: 5px;
	border-bottom:2px solid #069;
}
#search input[type=button]{
	width:40px;
	height:20px;
}
#pagingbtn{
	width: 100%;
	max-width:1100px;
	margin: 0 auto;
	height: 40px;
	width: auto;
	background-color: #eee;
	box-sizing:border-box;
	padding-bottom: 10px;
	text-align:center;
}
#pagingbtn span, #pagingbtn a{
	display: inline-block;
	width: 24px;
	line-height: 24px;
	border-radius:12px;
	background-color: #369;
	color: fff;
	text-align: center;
	font-weight: bold;
	margin-left: 5px;
	box-shadow:2px 2px 3px #333;
	font-size: 0.8em;
}
#pagingbtn a:hover,
#pagingbtn span.thispage{
	background-color:#09f;
	box-shadow:2px 2px 3px transparent;	
}
#pagingbtn span:first-child{
	margin-left: 0;	
}
#pagingbtn a i {
	line-height: 24px;
	color: fff;
	text-align: center;
	font-size: 0.8em;
}
#pagingbtn #firstbtn,
#pagingbtn #lastbtn{
	background-color: #333;
}
#pagingbtn #prevbtn,
#pagingbtn #nextbtn{
	background-color: #306;
}
#awaittb {
	width: 100%;
	max-width:1100px;
	margin: 0 auto;
	background-color: #eee;
	padding : 10px;
	box-sizing:border-box;
}
#awaittb th{
	box-sizing:border-box;
	padding: 5px;
	background-color: #036;
	border-radius:10px;
	height: 30px;
	color: #fff;
	font-size: 1.17em;
}
#awaittb th:nth-child(1){
	width: 20%;
}
#awaittb th:nth-child(2){
	width: 30%;
}
#awaittb th:nth-child(3){
	width: 10%;
}
#awaittb th:nth-child(4){
	width: 20%;

}
#awaittb th:nth-child(5){
	width: 10%;

}
#awaittb td {
	box-sizing:border-box;
	padding: 5px;
	border-bottom: 2px solid #fff;
}
#awaittb td:nth-child(1){
	font-size: 0.8em;
	padding-left: 10px;
	text-align: left;
}
#awaittb td:nth-child(2){
	padding-left: 10px;
	text-align: left;
}
#awaittb td:nth-child(3){
	text-align: center;
}
#awaittb td:nth-child(4){
	text-align: center;
}
#awaittb td:nth-child(5){
	text-align: center;
}
#awaittb td:nth-child(6){
	text-align: center;
}