@charset "UTF-8";

.ui-tabs-nav a{
	outline: none;
}
/* 결재서명등록 */
#cf_settings{
	width: 100%;
	max-width:1100px;
	margin: 0 auto;	
}
#cf_settings > div > h3{
	box-sizing:border-box;
	padding-left: 10px;
}
#cf_settings #sign_img {
	padding: 10px;
}
#cf_settings #sign_img p{
	font-weight: bold;
	margin-bottom: 10px;
}

#cf_settings input[type=button],
#cf_settings input[type=submit]{
	width: 80px;
	height: 30px;
}
/* 결재서명등록 끝 */
/* 결재라인등록 */
#cf_settings #save_line{
	box-sizing:border-box;
	margin-top: 10px;
	height: 500px;
	background-color: #eee;
}
#cf_settings #save_line h3{
	box-sizing:border-box;
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
	background-color: #fff;
	border-radius:10px ;
	margin-bottom: 10px;
}
#cf_settings #save_line #cf_line{
	box-sizing:border-box;
	width: 30%;
	height: 500px;
	border: 2px solid #fff;
	border-right: 1px solid #fff;
	float: left;
	padding: 10px;
}
#cf_settings #save_line #cf_line div{
	box-sizing:border-box;
	padding: 5px;
}
#cf_settings #save_line #cf_line div:hover{
	background-color: #d1d1d1;
}
#cf_settings #save_line #line_detail{
	box-sizing:border-box;
	width: 70%;
	height: 500px;
	border: 2px solid #fff;
	border-left: 1px solid #fff;
	float: left;
	padding: 10px;
}
#cf_settings #save_line #line_detail btn{
	height: 50px;
	position: absolute;
	bottom: 10px;
	right:40px;
}
#cf_settings #save_line #line_detail table{
	padding: 5px;
	width: 100%;
}
#cf_settings #save_line #line_detail table tr th:nth-child(1){
	width: 10%;
}
#cf_settings #save_line #line_detail table tr th:nth-child(2){
	width: 30%;
}
#cf_settings #save_line #line_detail table tr th:nth-child(3){
	width: 25%;
}
#cf_settings #save_line #line_detail table tr th:nth-child(4){
	width: 35%;
}
#cf_settings #save_line #line_detail table tr th{
	background-color: #036;
	border-radius:10px;
	color: #fff;
	padding: 5px;
}
#cf_settings #save_line #line_detail table tr td{
	border-bottom: 2px solid #fff;
	padding: 5px;
	text-align: center;
	cursor:pointer;
}
#savelinebtn{
	position: relative;
	height: 30px;
	line-height: 30px;
	text-align: right;
}
#savelinebtn input{
	display: inline-block;	
}	
#savelinebtn span{
	animation: ani1 10s infinite;
}
#detailbtn {
	margin-top:10px;
	width: 100%;
	text-align: right;
}
#detailbtn input[type=button]{
	display: none;
}

#inputTitle{
	position:absolute;
	top:40%;
	left:40%;
	width:300px;
	height:150px;
	border:2px solid #fff;
	background-color: #eee;
	box-shadow: 2px 2px 5px #000;
	border-radius:10px;
	display: none;
}
#inputTitle p{
	text-align: center;
	height: 50px;
	line-height: 50px;
	font-weight: bold;
}
#inputTitle div{
	text-align: center;
	height: 50px;
	line-height: 50px;
	font-weight: bold;
}
#inputTitle div input[type=text]{
	box-sizing:border-box;
	height: 70%;
	width: 80%;
	background-color: #fff;
	border-radius: 10px;
	padding-left: 15px;
}
/* 결재라인등록 끝*/

@keyframes ani1{
	0%{
		opacity:1;
	}
	10%{
		opacity:0;	
	}
	20%{
		opacity:1;	
	}
	30%{
		opacity:0;	
	}
	40%{
		opacity:1;	
	}
	50%{
		opacity:0;	
	}
	90%{
		opacity:0;	
	}
	100%{
		opacity:1;	
	}
}