@charset "UTF-8";
/*왼쪽 SideNavigation*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 84px;
    right: 0;
    overflow-x: hidden;
}

#startChatButton {
    width: 80%;
    height: 50px;
    margin: 20px 10% 20px 10%;
}

/*Header*/
.messenger-header {
    position: fixed;
    left: 0;
    top: 0;
    width: calc(100% - 400px);
    background: whitesmoke;
    z-index: 5;
    margin-left: 400px
}

/*Main*/
#searchBar {
    margin-bottom: 22px;
}

#userSearch{
    background: url('https://www.w3schools.com/css/searchicon.png') no-repeat 10px 12px;
    width: 80%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
}

.start-button {
    width: 20%;
    height: 50px;
}

#messenger-main {
    max-height: 100%;
    overflow-y: scroll;
}

.messenger-container {
    margin: 0 auto;
    max-width: 800px;
    padding: 84px 20px 100px;
}

.messenger-start-container {
    margin: 0 auto;
    max-width: 800px;
    padding: 100px 20px 100px;
}

.message-wrap {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.darker {
    border-color: #ccc;
    background-color: #ddd;
}

.message-wrap::after {
    content: "";
    clear: both;
    display: table;
}

.message-wrap img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.message-wrap img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

.time-right {
    margin-top: 16px;
    float: right;
    color: #aaa;
}

.time-left {
    margin-top: 16px;
    float: left;
    color: #999;
}



/* 메시지 입력창 */
.messenger-enter-container {
    position: fixed;
    bottom: 20px;
    width: calc(100% - 400px);
}

.messenger-enter-bar {
    height: 52px;
    background-color: #ffffff;
    border-radius: 20px;
    margin: 0 auto;
    width: 60%;
}

.messenger-enter {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    padding: 12px;
    vertical-align: middle;
}

.messenger-textarea {
    position: relative;
    outline: none;
    border: none;
    resize: none;
    background: inherit;
    color: inherit;
    width: 100%;
    height: 25px;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    text-align: inherit;
    left: 0;
}

.messenger-enter button {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

@media (max-width: 993px) {
    .messenger-header {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        background: whitesmoke;
        z-index: 10;
        margin-left: 0;
    }

    .messenger-enter-container {
        position: fixed;
        bottom: 20px;
        width: 100%;
    }
}