#requireDetail{
	width: 900px;
	margin: 0 auto;
}
#divtitle {
	border-bottom : 2px solid #036;
	margin-bottom: 20px;
}
#divtitle #title{
	color:#069;
	font-size: 1.5em;
	font-weight: 600;
	padding : 5px;
}
#divtitle #regdate{
	float:right;
	padding-right: 5px;
	font-size: 0.9em;
	line-height: 20px;
}
#divContent {
	padding : 20px;
	min-height: 300px;
}
#btns{
	text-align: right;
}
#btns a.button{
	display: inline-block;
	width: 50px;
	height: 20px;
	margin-left: 10px;
	line-height: 20px;
}